#post-input {
	width: 100%;
	height: auto;

	background-color: transparent;
	color: inherit;

	border: none;

	font: inherit;

	overflow-y: visible;
	
	resize: none;
}

#post-input:focus {
	outline: none;
}