#post-input-container:focus-within {
	background-color: var(--surface-color-lighter);
	
	box-shadow: 0px 16px 16px rgba(0,0,0,0.75),
				inset 0px 0px 0px 2px var(--accent-color);
	
	transition: box-shadow ease-out 0.125s, background-color ease-out 0.125s;
}

#post-input {
	width: 100%;
	height: auto;

	background-color: transparent;
	color: inherit;

	border: none;

	font: inherit;

	overflow-y: visible;
	
	resize: none;
}

#post-input:focus {
	outline: none;
}