:root {
	--background-color: #181821;
	--foreground-color: #eee;

	--surface-color: #2e2e41;
	--surface-color-lighter: #3b3b52;

	--accent-color: #ccaaff;
	--accent-color-lighter: #e2d2fc;
	--accent-color-bg: #28202F;
	--accent-color-bg-lighter: #38303F;
	--accent-color-bg-lightest: #48404F;

	--radius-large: 1em;
	--radius-small: 0.5em;
	--avatar-radius: 100%;

	--post-avatar-size: 3em;

	--max-item-width: 700px;
	--header-height: 5em;
}

@media(max-width: 599px) {
	body {
		grid-template-areas:
			"sidebar header"
			"sidebar main";
			grid-template-columns: 0 1fr;
	}

	app-nav-sidebar {
		display: none;
	}
}

@media(min-width: 600px) {
	body {
		grid-template-areas:
			"sidebar header"
			"sidebar main";
		grid-template-columns: var(--sidebar-width) 1fr;
	}

	app-nav-sidebar {
		display: block;
	}

	main {
		border-left: 1px solid var(--accent-color);
		border-radius: var(--radius-large) 0 0 0;
	}
}

@media(max-width: 1023px) {
	:root {
		--sidebar-width: 8em;
	}
}

@media(min-width: 1024px) {
	:root {
		--sidebar-width: 16em;
	}
}

body {
	display: grid;
	grid-template-rows: var(--header-height) 1fr;

	margin: 0;
	overflow: hidden;

	width: 100vw;
	height: 100vh;

	background-color: var(--background-color);
	color: var(--foreground-color);

	font-family: system-ui, sans-serif;

	transition: grid-template-columns cubic-bezier(0,0,0,1) 0.25s;
}

main {
	grid-area: main;

	max-width: 100%;
	max-height: 100%;
	overflow-y: scroll;

	border-top: 1px solid var(--accent-color);
}

a {
	color: var(--accent-color);
}

a:hover {
	color: var(--accent-color-lighter);
}

body > header {
	grid-area: header;

	padding: 0 2em;

	background-color: var(--background-color);

	vertical-align: center;

	z-index: 99;
}

app-nav-sidebar {
	grid-area: sidebar;

	width: var(--sidebar-width);
	height: 100vh;

	margin-top: var(--header-height);
	overflow: hidden;

	position: sticky;
	top: 0;
}

app-timeline {
	display: block;

	margin: 0 1em;
}