address {
	width: calc(100% - 2em);

	padding: 1em;

	display: flex;
	flex-direction: column;
	
	background-color: var(--surface-color);
}

#header {
	margin-top: -1em;
	margin-left: -1em;

	width: calc(100% + 2em);
	min-height: 8em;
	aspect-ratio: 3 / 1;

	background-size: cover;
	background-position: center;
	background-color: var(--background-color);
	background-image: var(--header-url);

	flex-basis: 75%;
	flex-grow: 2;
}

#info-container {
	margin-top: max(calc((20vw / 2) * -1), -4em);
	
	width: 100%;
	max-width: 1024px;

	flex-basis: 50%;
	flex-grow: 1;
	align-self: center;
}

#avatar {
	width: 20vw;
	max-width: 8em;
	max-height: 8em;
	aspect-ratio: 1;

	border: 0.5em solid var(--surface-color);
	/* temp */
	border-radius: var(--avatar-radius);
}

#display-name {
	margin-top: 0;
}