a {
	color: var(--accent-color);
}

a:hover {
	color: var(--accent-color-lighter);
}

textarea, button, input, select {
	font-family: inherit;
}

.custom-emoji, .inline-img {
	max-height: 1.25em;
	vertical-align: bottom;
}

.avatar {
	border-radius: var(--avatar-radius);
}

.display-name {
	font-weight: bold;
}