a {
	color: var(--accent-color);
}

a:hover {
	color: var(--accent-color-lighter);
}

textarea, button, input, select {
	font-family: inherit;
}

tr.verified {
	background-color: darkgreen;
}

tr.verified::after {
	content: "✓";
}

.custom-emoji, .inline-img {
	max-height: 1.33em;
	vertical-align: middle;
}

.avatar {
	border-radius: var(--avatar-radius);
}

.display-name {
	font-weight: bold;
}