#root {
	margin: 0;
	padding: 0.5em;

	background-color: var(--surface-color);

	box-shadow: 0 0.25em 0.25em rgba(0,0,0,0.5);

	border: 1px solid var(--surface-color-lightest);
	border-radius: var(--radius-small);
}

ul {
	padding: 0;

	list-style: none;
}

ul::before {
	content: attr(category);

	margin: 0.5em 0;
	
	opacity: 0.75;

	font-size: smaller;
	font-weight: bold;
}

.menu-item {
	padding: 0.5em;

	border-radius: var(--radius-small);

	cursor: pointer;
}

.menu-item:hover {
	background-color: var(--accent-color-darker);
}

.menu-icon {
	display: inline-block;

	height: 1em;
	width: 1em;

	margin-right: 0.5em;
}

.menu-icon.material-symbols-outlined {
	margin-right: 0.25em;
	
	vertical-align: -25%;
}