article {
	padding: 1em;

	background-color: var(--surface-color);

	border-radius: var(--radius-large);
	box-shadow: 0px 8px 8px rgba(0,0,0,0.5);

	overflow-wrap: break-word;

	transition: box-shadow ease-out 0.125s, background-color ease-out 0.125s;
}

article:focus, article:focus-within {
	background-color: var(--surface-color-lighter);
	
	box-shadow: 0px 16px 16px rgba(0,0,0,0.75),
				inset 0px 0px 0px 2px var(--accent-color);
}

button {
	padding: 0.25em;

	border: none;
	border-radius: var(--radius-small);

	color: var(--foreground-color);

	font-size: larger;

	background: none;
}

button:disabled {
	opacity: 0.5;
}

button:not(:disabled):hover, button:not(:disabled):focus {
	background-color: var(--accent-color-darker);

	cursor: pointer;
}

header {
	margin-bottom: 1.5em;
}

address {
	display: flex;

	font-style: normal;
}

#label {
	margin: 0 0 0.5em 0;
}

#label .material-symbols-outlined {
	vertical-align: middle;
}

#account-info {
	align-self: center;
}

#avatar, #first-status .avatar {
	max-width: var(--post-avatar-size);
	max-height: var(--post-avatar-size);
	aspect-ratio: 1;

	margin-right: 0.5em;
}

#display-name {
	font-size: 1.25em;
}

main {
	margin-left: calc(var(--post-avatar-size) + 0.5em);
}

.content-warning {
	padding: 1em;
	margin-top: 1em;

	background-color: var(--accent-color-bg);
	background-image: radial-gradient(ellipse at bottom, var(--accent-color-bg-lighter), var(--accent-color-bg));
	color: var(--accent-color);

	border: 1px solid var(--accent-color);
	border-radius: var(--radius-small);

	font-weight: bold;

	cursor: pointer;
}

.content-warning:hover {
	background-color: var(--accent-color-bg-lighter);
	background-image: radial-gradient(ellipse at bottom, var(--accent-color-bg-lightest), var(--accent-color-bg));
	color: var(--accent-color-lighter);

	border-color: var(--accent-color-lighter);
}

a.mention:not(.hashtag) {
	display: inline-block;

	margin: 0.25em;
	padding: 0.5em;

	max-width: 100%;

	overflow-wrap: break-word;
	
	background-color: var(--accent-color-bg);

	border-radius: var(--radius-small);
}

code {
	display: inline-block;

	margin: 0.25em;
	padding: 0.5em;

	max-width: 100%;

	overflow-wrap: break-word;

	color: white;
	background-color: black;

	border-radius: var(--radius-small);
}

blockquote {
	margin: 0;
	padding: 1em;

	border: 1px solid var(--surface-color-lightest);
	border-radius: var(--radius-small);
}

#post-content {
	margin: 1em 0;
}

iframe, #post-attachments {
	margin-left: calc((var(--post-avatar-size) * -1) - 0.5em);
	width: calc(100% + (var(--post-avatar-size) + 0.5em));

	border-radius: var(--radius-small);

	clip-path: inset(0 0 0 0 round var(--radius-small));
}

iframe {
	border: none;
}

#post-attachments {
	display: grid;

	gap: 0.5em;
	grid-template-columns: repeat(auto-fit, minmax(min(100% - 0.5em, 50% - 0.5em), 1fr));
}

#post-attachments > * {
	width: 100%;
	max-height: 100%;
}

footer {
	margin-top: 1em;
	padding-top: 0.5em;

	border-top: 1px solid var(--surface-color-lighter);
}

article:focus footer, article:focus-within footer {
	border-color: var(--surface-color-lightest);
}