<template id="postbox">
	<form id="form" action="" onsubmit="return false;">
		<div id="post-input" contenteditable="true" placeholder="📝 What's up?"></div>
		<slot name="tags"></slot>
		<div id="post-options">
			<input type="file" multiple>
			<select name="privacy" id="privacy-select">
				<option>Public</option>
				<option>Unlisted</option>
				<option>Followers only</option>
				<option>Mentioned users only</option>
			</select>
			<p id="character-counter">0/0</p>
			<button id="post-button" disabled="true">Post!</button>
		</div>
	</form>
</template>

<template id="taginput">
	<input id="input" type="text" placeholder="#tag">
</template>