<template id="status">
	<article id="status-root">
		<slot name="header"></slot>
		<main>
			<slot name="content"></slot>
		</main>
		<p><a id="link" href="#"><time id="time">post time</time></a> · <a id="post-url" href="#">View on instance</a></p>
		<slot name="footer"></slot>
	</article>
</template>

<template id="header">
	<header>
		<p id="label"></p>
		<address>
			<img id="avatar" class="avatar" src="/img/default-avatar.png">
			<div id="account-info">
				<a id="profile-link" href="#"><span id="display-name" class="display-name">User</span></a>
				<br>
				<span id="acct">@user@site.url</span>
			</div>
		</address>
	</header>
</template>

<template id="footer">
	<footer>
		<button id="reply-button">Reply</button>
		<button id="boost-button">Boost</button>
		<button id="favorite-button">Favorite</button>
	</footer>
</template>

<template id="content">
	<div slot="content">
		<div id="post-content"></div>
		<slot name="card"></slot>
	</div>
	<div id="post-attachments"></div>
</template>

<template id="content-cw">
	<details slot="content">
		<summary id="cw" class="content-warning">⚠️ Sensitive content</summary>
		<div>
			<div id="post-content"></div>
			<slot name="card"></slot>
		</div>
		<div id="post-attachments"></div>
	</details>
</template>