<template id="status">
	<article id="status-root">
		<slot name="header"></slot>
		<main>
			<div id="post-content">
				<p>This is a post.</p>
				<slot name="card"></slot>
			</div>
			<div id="post-attachments"></div>
		</main>
		<p><a id="link" href="#"><time id="time">post time</time></a></p>
		<p><a id="post-url" href="#">View on instance</a></p>
	</article>
</template>

<template id="header">
	<header>
		<p id="label"></p>
		<address>
			<img id="avatar" class="avatar" src="/img/default-avatar.png">
			<div id="account-info">
				<a id="profile-link" href="#"><span id="display-name" class="display-name">User</span></a>
				<br>
				<span id="acct">@user@site.url</span>
			</div>
		</address>
	</header>
</template>

<template id="content">

</template>